html * {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
	box-shadow: none !important;
}

/* Hide following elements */
snowfall,
.cb-slideshow,
#login_page_head_text,
#login_page_head_section,
#whats_new_text,
#whats_new,
#login_button,
#about_nm,
#tr_d1,
#tr_d2,
#tr_d3,
#tr_tl_perception,
#tr_request_id,
#tr_rave_email,
#tr_create_date_time,
#tr_last_updated_time,
#tr_case_status {
	display: none !important;
}

body {
	background: repeating-linear-gradient(45deg, #ddeeee, #ddeeee 10px, #efefef 10px, #efefef 20px) !important;
}

#login_chi {
	display: inline !important;
}

table#login_table {
	width: none;
	border-collapse: separate !important;
	margin-top: 15% !important;
}

#header span#heading_4 {
	margin-bottom: 10px !important;
	display: block !important;
}

#header3 {
	background: repeating-linear-gradient(135deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px) !important;
}

#workarea1A1 {
	background: repeating-linear-gradient(45deg, #eeeeee, #eeeeee 10px, #efefef 10px, #efefef 20px) !important;
	width: -webkit-fill-available !important;
	border: none !important;
	/* box-shadow: none !important; */
}

#workarea1,
#workareaLandingOuter {
	background: none !important;
	border: none !important;
	/* box-shadow: none !important; */
	overflow: hidden !important;
	width: -webkit-fill-available !important;
	max-width: none !important;
}

#workareaLandingOuter p,
#workareaLandingOuter br {
	display: none !important;
}

/* #workareaLanding {
	margin: auto !important;
	align-content: center !important;
	box-align: center !important;
	text-align: center !important;
	align-items: center !important;
	align-self: center !important;
	-webkit-align-content: center !important;
} */

#workareaLanding>img {
	/* box-shadow: none !important; */
	background: none !important;
	border: none !important;
	width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	/* height: 225px; */
	/* padding-left: 4%; */
	/* padding-top: 4%; */
	vertical-align: top !important;
}

#workareaLanding {
	background: none !important;
	position: relative !important;
	left: 30px !important;
	width: -webkit-fill-available !important;
}

#sidenav1 {
	min-width: 15% !important;
	max-width: 20% !important;
	width: 15% !important;
}

#sidenav1A {
	resize: none !important;
}

.common_newbuttons,
#sidenav1A1A button {
	color: #474747 !important;
	font-weight: normal !important;
}

.MainMenuTitle {
	background-color: none !important;
	border: none !important;
	color: none !important;
	padding: none !important;
	text-align: none !important;
	text-decoration: none !important;
	/* box-shadow: none !important; */
	padding: 0px !important;
}

/* .MainMenuTitle:hover {
	background-color: none !important;
		padding: none !important;
} */

/* #sidenav1 * {
	color: none !important;
	background-color: transparent !important;
		text-decoration: none !important;
	padding: none !important;
} */

/* background: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72) !important; */
/* background: repeating-radial-gradient(circle, purple, purple 10px, #4b026f 10px, #4b026f 20px) !important; */
/* background: radial-gradient(circle, purple, purple 50%, #4b026f 50%, #4b026f) !important; */
/* background: linear-gradient(45deg, #5d9634, #5d9634 50%, #538c2b 50%, #538c2b) !important; */
/* background-size: 20px 10px !important; */

/* @font-face {
	font-family: "Comic Sans MS";
	src: url("https://cdn.jsdelivr.net/comic-sans-replacer/latest/fonts/ComicNeue-Light.eot");
	src: url("https://cdn.jsdelivr.net/comic-sans-replacer/latest/fonts/ComicNeue-Light.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.jsdelivr.net/comic-sans-replacer/latest/fonts/ComicNeue-Light.woff") format("woff"),
		url("https://cdn.jsdelivr.net/comic-sans-replacer/latest/fonts/ComicNeue-Light.ttf") format("truetype");
	font-weight: 100;
} */


#tr_ticket_number>td>p {
	color: red !important;
	/* https://beta.rave.office.net/search?query= */
}
